html * {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h4 {
  font-weight: 200;
  font-size: 24px;
}
a {
  color: #0275d8;
}
a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}
.form-control:focus {
  border: 1px solid steelblue;
}
