<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 well noprint">
      <sidebar (change)="onComponentChange($event)"></sidebar>
    </div>
    <div [ngSwitch]="activeComponent">
      <!-- TODO BREAK INTO COMPONENTS -->
      <div *ngSwitchCase="'contact info'">Contact Info</div>
      <div *ngSwitchCase="'change password'">Change Password</div>
      <div *ngSwitchCase="'change pin'">Change PIN</div>
      <div *ngSwitchCase="'direct deposit form'">Direct Deposit Form</div>
      <div *ngSwitchCase="'reload options'">Reload Options</div>
      <div *ngSwitchCase="'report lost/stolen'">Report Lost/Stolen</div>
      <div *ngSwitchCase="'order replacement'">Order Replacement</div>
      <div *ngSwitchCase="'contact support'">Contact Support</div>
      <div *ngSwitchDefault><activity></activity></div>
    </div>
  </div>
</div>
