<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 noprint">
      <div id="balance-container" class="well centered">
        <svg id="circle" height="10" width="10">
          <!-- whats this for? online status of what? TODO add red ngif... -->
          <circle cx="5" cy="5" r="4" fill="#31B27B" />
        </svg>
        <span id="balance">{{ availableBalance | currency:'USD':true:'1.2-2' }}</span>
        <!-- TODO LOAD BAL FROM DB -->
        <p class="sub">Available Balance</p>
      </div>
      <div class="well noprint">
        <sidebar (change)="onComponentChange($event)"></sidebar>
      </div>
    </div>
    <div [ngSwitch]="activeComponent">
      <!-- Could use router here too -->
      <!-- IDEA have router look for query to go to right component for outside linking -->
      <div *ngSwitchCase="'contact info'"><h1>Contact Info</h1><p>Coming Soon</p></div>
      <div *ngSwitchCase="'change password'"><security-form updating="Password"></security-form></div>
      <div *ngSwitchCase="'change pin'"><security-form updating="PIN"></security-form></div>
      <div *ngSwitchCase="'direct deposit form'"><h1>Direct Deposit Form</h1><p>Coming Soon</p></div>
      <div *ngSwitchCase="'reload options'"><h1>Reload Options</h1><p>Coming Soon</p></div>
      <div *ngSwitchCase="'report lost/stolen'"><h1>Report Lost/Stolen</h1><p>Coming Soon</p></div>
      <div *ngSwitchCase="'order replacement'"><h1>Order Replacement</h1><p>Coming Soon</p></div>
      <div *ngSwitchCase="'contact support'"><h1>Contact Support</h1><p>Coming Soon</p></div>
      <div *ngSwitchDefault><activity></activity></div>
    </div>
  </div>
</div>
