@media print  { .noprint  { display: none; } }

a {
  cursor: pointer;
}

.sub, .pending {
  color: darkgrey;
}
.fa-check {
  color: #31B27B;
}
.centered {
  text-align: center;
}
.align-right {
  text-align: right;
}
td {
  /*border: 1px solid black !important;*/
  padding-bottom: 0px !important;
}
.amount {
  font-size: 20px;
}
.top-up {
  color: #31B27B;
}
.plus {
  font-weight: bold;
  font-size: 22px;
}
#container {
  overflow: visible !important;
}
#loading {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  z-index: 100;
}
#activity {
  min-height: 400px;
}
