<div id="container">
  <img id="loading" class="noprint" @loadState="activityLoading?'active':'inactive'" src="/src/_assets/gifs/loader_black_small.gif" alt="loading...">
  <!-- TODO resize for mobile -->
  <div id="activity">
    <table @loadState="activityLoading?'inactive':'active'" class="table table-striped table-hover">
      <thead>
       <tr>
         <th class="centered"></th>
         <th>Note</th>
         <th>Date</th>
         <th class="align-right">Description</th>
         <th class="centered">Status</th>
         <th class="align-right">Amount</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions.slice().reverse()">
          <td class="centered">{{transaction.id}}</td>
          <td>
            <a *ngIf="!transaction.note">Add Note</a>
            {{transaction.note}}
          </td>
          <td>
            {{ transaction.date | date: 'longDate' }}
            <!--IDEA if today say "Today" -->
            <p class="sub">{{ transaction.date | date: 'shortTime' }}</p>
          </td>
          <td class="align-right">
            {{transaction.description}}
          </td>
          <td class="centered">
            <i *ngIf="transaction.pending" class="fa fa-refresh fa-spin fa-fw pending" aria-hidden="true"></i>
            <i *ngIf="!transaction.pending" class="fa fa-check fa-fw" aria-hidden="true"></i>
          </td>
          <td class="align-right">
            <span class="amount" [class.top-up]="transaction.amount>0">
              <span class="plus" *ngIf="transaction.amount>0">+</span>{{ transaction.amount | currency:'USD':true:'1.2-2' }}
            </span>
            <p class="sub">{{ transaction.balance | currency:'USD':true:'1.2-2' }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
