@media print  { .noprint  { display: none; } }

a {
  cursor: pointer;
}

.sub, .pending {
  color: darkgrey;
}
.fa-check, .top-up, .glyphicon-ok-circle {
  color: #31B27B;
}
.centered {
  text-align: center;
}
.align-right {
  text-align: right;
}
td {
  /*border: 1px solid black !important;*/
  padding-bottom: 0px !important;
}
.amount {
  font-size: 20px;
}
.plus {
  font-weight: bold;
  font-size: 22px;
}
#container {
  overflow: visible !important;
}
#loading {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  z-index: 100;
}
#activity {
  min-height: 400px;
}
.glyphicon-remove-circle, .glyphicon-ok-circle {
  cursor: pointer;
}
.glyphicon-remove-circle {
  color: #EA4335;
}
input, input:active, input:focus {
  border-width: 0 0 3px 0;
  border-color: #0275d8;
  border-radius: 0;
  outline-width: 0;
}
input:active {
  border-color: #014c8c;
}
