<div id="trans-container" class="col-sm-9 col-md-10">
  <div id="tools" class="row">
    <div class="col col-xs-3">
      <!-- TODO BREAK INTO COMPONENT -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Recent Activity
          <i class="fa fa-chevron-down fa-fw pull-right lightgrey" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col col-xs-8">
      <search-bar></search-bar>
    </div>
    <div id="print" class="col col-xs-1 centered" (click)="print()">
      <i class="fa fa-print fa-fw" aria-hidden="true"></i>
      <p>Print</p>
    </div>
  </div>
  <transaction-list></transaction-list>
</div>
