<div id="trans-container" class="col-sm-9 col-md-10">
  <div id="tools" class="row">
    <div id="filter-container" class="col col-xs-12 col-sm-3">
      <!-- TODO BREAK INTO COMPONENT -->
      <div class="dropdown noprint">
        <button (click)="filterComingSoon()" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Recent Activity
          <i class="fa fa-chevron-down fa-fw pull-right lightgrey" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li [class.selected]="true"><a>Recent Activity</a></li>
          <li [class.selected]="false"><a>Credits</a></li>
          <li [class.selected]="false"><a>Debits</a></li>
        </ul>
      </div>
    </div>
    <div id="search-container" class="col col-xs-10 col-sm-8 noprint">
      <search-bar></search-bar>
    </div>
    <div id="print" class="col col-xs-2 col-sm-1 centered noprint" (click)="print()">
      <i class="fa fa-print fa-fw" aria-hidden="true"></i>
      <p>Print</p>
    </div>
  </div>
  <transaction-list></transaction-list>
</div>
