<div class="form-container" [class.bad]="isBadForm">
  <div class="form-container-section">
    <h4>Change {{updating}}</h4>
    <form [ngFormModel]="passwordForm" (ngSubmit)="changePassword()">
      <fieldset>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            ngControl="password"
            #password="ngForm"
            placeholder="Current {{updating}}"
            [attr.maxlength]="updating=='Password' ? 24 : 4"
            >
          <div *ngIf="password.touched && password.errors">
            <div
            *ngIf="password.errors.required"
            class="text-danger"
            >Please enter your current {{updating}}
            </div>
            <div
               *ngIf="password.errors.validOldPassword"
               class="text-danger">Current {{updating}} is incorrect</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="newPassword"
            class="form-control"
            ngControl="newPassword"
            #newPassword="ngForm"
            placeholder="New {{updating}}"
            [attr.maxlength]="updating=='Password' ? 24 : 4"
            >
            <div *ngIf="newPassword.touched && newPassword.errors">
              <div
                *ngIf="newPassword.errors.required"
                class="text-danger">
                New {{updating}} is required</div>
              <div
                *ngIf="newPassword.errors.complexPassword"
                class="text-danger">
                New password should be minimum {{ newPassword.errors.complexPassword.minLength }} characters</div>
              <div
                *ngIf="newPassword.errors.pin"
                class="text-danger">
                {{newPassword.errors.pin.error}}</div>
            </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            ngControl="confirmPassword"
            #confirmPassword="ngForm"
            placeholder="Confirm New {{updating}}"
            [attr.maxlength]="updating=='Password' ? 24 : 4"
            >
          <div
            *ngIf="confirmPassword.touched && !confirmPassword.valid"
            class="text-danger"
            >Please confirm your new {{updating}}
          </div>
          <div
            *ngIf="confirmPassword.touched && passwordForm.errors && passwordForm.errors.passwordsShouldMatch"
            class="text-danger">
            New {{updating}}s do not match</div>
        </div>
      </fieldset>
      <button class="btn btn-primary password-button" type="submit">Change</button>
    </form>
    <a>Forgot {{updating | lowercase}}?</a>
  </div>
</div>
