<ul>
  <li class="active"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Activity</li>
  <li>
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
    <ul class="options">
      <li>Contact Info</li>
      <li>Change Password</li>
      <li>Change PIN</li>
      <li>Direct Deposit Form</li>
    </ul>
  </li>
  <li>
    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Reload options
  </li>
  <li>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
    <ul class="options">
      <li>Report Lost/Stolen</li>
      <li>Order Replacement</li>
      <li>Contact Support</li>
    </ul>
  </li>
</ul>
<div class="btn-group">
<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add Funds</button>
</div>
