<form [ngFormModel]="form">
  <section id="search">
    <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></label>
    <input id="search-input" ngControl="search" #search="ngForm" type="text" class="form-control" placeholder="Search by Note, Description, or Amount" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
    <a *ngIf="search.dirty" id="search-clear" (click)="clearSearch()" class="fa fa-times-circle" aria-hidden="true"><span class="sr-only">Clear search</span></a>
  </section>
</form>
