ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  margin-bottom: 15px;
  cursor: pointer;
}
ul.options {
  border-left: 1px solid lightgrey;
  padding-left: 15px;
}
ul.options > li {
  color: grey;
  font-size: 12px;
  margin-bottom: 5px;
}
ul.options > li:first-child {
  padding-top: 5px;
}
ul.options > li:hover {
  color: #0275d8;
  text-decoration: underline;
}
.active {
  color: #0275d8 !important;
}
.btn-primary {
  color: white;
  background-color: #0275d8;
  border: none;
}
.btn-primary:hover {
  background-color: #025aa5;
}
.modal-title {
  font-size: 24 !important;
  font-style: bold !important;
}
#scancopy-container {
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-shadow: 0 8px 5px -5px #ccc;
     -moz-box-shadow: 0 8px 5px -5px #ccc;
          box-shadow: 0 8px 5px -5px #ccc;
}
.scan-copy {
  text-align: center;
  color: grey;
  font-size: 22px;
  padding-bottom: 5px;
  cursor: pointer;
}
.scan-copy.active {
  color: #025aa5;
  border-bottom: 3px solid #0275d8;
}
#qr, #copy {
  margin: 0 auto;
  margin-top: 25px;
}
