<ul>
  <li [class.active]="activeComponent==='activity'" (click)="changeActiveComponent($event, 'activity')"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Activity</li>
  <li (click)="changeActiveComponent($event, 'contact info')">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
    <ul class="options">
      <li [class.active]="activeComponent==='contact info'" (click)="changeActiveComponent($event, 'contact info')">Contact Info</li>
      <li [class.active]="activeComponent==='change password'" (click)="changeActiveComponent($event, 'change password')">Change Password</li>
      <li [class.active]="activeComponent==='change pin'" (click)="changeActiveComponent($event, 'change pin')">Change PIN</li>
      <li [class.active]="activeComponent==='direct deposit form'" (click)="changeActiveComponent($event, 'direct deposit form')">Direct Deposit Form</li>
    </ul>
  </li>
  <li [class.active]="activeComponent==='reload options'" (click)="changeActiveComponent($event, 'reload options')">
    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Reload options
  </li>
  <li (click)="changeActiveComponent($event, 'report lost/stolen')">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
    <ul class="options">
      <li [class.active]="activeComponent==='report lost/stolen'" (click)="changeActiveComponent($event, 'report lost/stolen')">Report Lost/Stolen</li>
      <li [class.active]="activeComponent==='order replacement'" (click)="changeActiveComponent($event, 'order replacement')">Order Replacement</li>
      <li [class.active]="activeComponent==='contact support'" (click)="changeActiveComponent($event, 'contact support')">Contact Support</li>
    </ul>
  </li>
</ul>
<div class="btn-group">
<button class="btn btn-primary" (click)="modal.open()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add Funds</button>
<!-- TODO move to own component -->
<modal #modal>
    <modal-header id="modal-header" [show-close]="true">
      <h1 class="modal-title">Add Funds</h1>
    </modal-header>
    <modal-body>
      <div>
        <div class="row" id="scancopy-container">
          <div [class.active]="scanOrCopy=='scan'" (click)="setScanOrCopy('scan')" class="scan-copy col col-xs-6">
            Scan
          </div>
          <div [class.active]="scanOrCopy=='copy'" (click)="setScanOrCopy('copy')" class="scan-copy col-xs-6">
            Copy
          </div>
        </div>
      </div>
      <div *ngIf="scanOrCopy=='scan'" id="qr">
        <qrcode [qrdata]="btcAddress" [size]="250" [level]="'M'"></qrcode>
      </div>
      <div *ngIf="scanOrCopy=='copy'" id="copy">
        <i class="fa fa-clone" aria-hidden="true"></i> {{btcAddress}}
      </div>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <button (click)="openWallet()" class="btn btn-primary">Open in wallet&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
    </modal-footer>
</modal>
</div>
